table {
    width: auto;
    border-collapse: collapse;
}
tr {
    border-top: 1px solid #444;
}
td,
th {
    border-right: 1px solid #444;
}
thead tr {
    border-top: none;
}

td:last-child,
th:last-child {
    border-right: none;
}