* { box-sizing: border-box; }
body {
	background-color: white;
	margin: 0;
	color: #444;
}
h1,
h2 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}
h2 {
	font-size: 2em;
	margin: 2em 0 1.4em;
}
h3 {
	font-size: 1.33333em;
	margin-bottom: 1.6em;
}

.popup h2 {
	margin: 0;
}

.header {
	width: 100%;
	padding: 3em 0;
	background-color: #aee9ae;
}
.intro {
	float: left;
	width: 50%;
	padding: 0 2em 2em 0;
}
.photo {
	width: 50%;
    max-width: 400px;
    border: 1px solid black;
    float: right;
	display: block;
	margin-top: 3em;
}
.footer {
	background-color: #394d39;
	padding: 3em 0;
	height: 30px;
}
.footertext {
	width: 100px;
	height: 30px;
	text-indent: 100px;
	line-height: 30px;
	background: url(logo.png) center left no-repeat;
	overflow: hidden;
}
.ingredients {
	list-style: none;
	padding-left: 0;
	margin: 0 0 1em;
}
ol {
	padding-left: 0;
	margin-bottom: 4em;
}
table {
	width: auto;
}
.nutritionalinfo {
	border-collapse: collapse;
}
.nutritionalinfo td,
.nutritionalinfo th {
	border-right: 1px solid #444;
}
.nutritionalinfo th:last-child,
.nutritionalinfo td:last-child {
  border-right: 0;
}
.nutritionalinfo tr {
	border-bottom: 1px solid #444;
}
.nutritionalinfo tr:last-child {
  border-bottom: 0;
}

.newsletter {
	background-color: white;
	position: fixed;
	padding: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	justify-content: center;
	text-align: center;
	margin-top: 10px;
}

.popup {
	background-color: rgba(0, 50, 0, 0.7);
	position: fixed;
	width: 100%
	height: 100%;
	padding: 25px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.potato {
	border:1px solid black;
	font-size: 14px;
	width: 100%;
	color: grey;
	padding: 3px;
}

.potato2 {
	border:1px solid black;
	font-size: 14px;
	width: 100%;
	color: grey;
	padding: 3px;
}

.potato4 {
	border:0px solid black;
	font-size: 18px;
	width: 100%;
	background-color: black;
	color: white;
	font-family: 'impact';
	padding: 5px;
}

.font {
	font-size: 14px;
	text-align: left;
	font-style: bold;

}